.container{
    display: flex;
    position:relative;
    margin:40px ;
    margin-top: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}
.container .main-container{
    display: flex;
    position:absolute;
    width:100%;
    flex-direction: column;
    flex-wrap: wrap;
}
.container .sub_container{
    /* position: absolute; */
    background: rgba(0, 0, 0, 0);
    margin: 0 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:95%;
    flex-wrap: wrap;    
}
.container .sub_container.margin{
    margin-top:50px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.container .sub_container >div >h2{
    color:white;
}

.break{
    flex-basis:100%;
    width:0;
}
.last{
    background-color: rgb(120, 151, 253);
    height: 250px;
    margin-top: 40px;
    color:white;

}
.h2-color{
    color:blue;
    font-size: 40px;
    margin-bottom: 0px;
}
.col-25 {       
    width: 23%;    
    margin:10 auto;
  } 

.col-25-size{
    font-size: 25px;
}

.footer-text{
    text-align: center;
    color: rgb(165, 164, 164);
}
.text-format-gray{
    color: rgb(165, 164, 164);
    font-size: 18px;
}

hr.hr-color {
    margin-top: 27px;
    border-top: 1px solid ;
    border-color: rgb(165, 164, 164,0.5);
  }
  .image{
      margin-right: 300px;
  }

  .h2-size{
      font-size: 45px;
  }
  .section{
      display:inline-flex;
      justify-content:space-around;
  }

  .image-container{
      display:inline-flex;
      flex-direction: column;
  }
  .image-container-flex{
      display:flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 80px;
      
  }

.season-div-size{
    width:250px;
    padding: 50px;
    padding-top: 15px;
    font-size:22px;
}

.quote-div-size{
    width:1000px;
    margin:0 100px;
    font-size: 23px;
    display:flex;
    flex-direction: row;
    
}

.space {       
    width: 40%;    
    margin:10 auto;
    font-size: 25px;
  } 


  /* @media screen and (max-width: 767px){
    .main-container
    {
        flex-direction: column;
    }
    .sub_container{
        flex-direction:column;
    }
    .quote-div-size{
        flex-direction: column;
    }
    .container{
        flex-direction:column;
    }
  } */